// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~vue-multiselect/dist/vue-multiselect.min.css';


  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }

  main {
    text-align: center;
    margin-top: 40px;
  }

  selectedProduct {
    resize: none;
  }

  .left-0 {
      left: 0;
  }

  .right-0 {
      right: 0;
  }

  .row {
      min-height: 45px;
  }

  .btn-delete {
    height: 18px;
    width: 18px;
    line-height: 10px;
    padding: 0;
    margin: 0;
    margin-top: -5px;
  }
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0
  }
