<template>
  <div id="app">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Test App</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <router-link
              class="nav-link"
              v-bind:to="{ name: 'Users' }"
            >
              Users
              <span class="sr-only">(current)</span>
            </router-link>
          </li>
        </ul>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="navbar-nav ml-auto">
          <li v-if="!$auth.check()" class="nav-item pull-right">
            <router-link
              class="nav-link"
              v-bind:to="{ name: 'login' }"
              href="#"
            >
              Login
            </router-link>
          </li>
          <li v-if="!$auth.check()" class="nav-item pull-right">
            <router-link
              class="nav-link"
              v-bind:to="{ name: 'register' }"
              href="#"
            >
              Register
            </router-link>
          </li>
          <li v-if="$auth.check()" class="nav-item pull-right">
            <a
              class="nav-link"
              href="#"
              @click.prevent="
                $auth.logout();
                $router.push({ name: 'login' });
              "
            >
              Logout
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main>
      <router-view></router-view>
    </main>
  </div>
</template>

<script>
export default {
  name: "app",
};
</script>
