<template>
    <div class="container">
            <div class="alert alert-danger" v-if="error">
                <p>Unable to sign in with those credentials.</p>
            </div>
            <form autocomplete="off" @submit.prevent="login" method="post">
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" class="form-control" placeholder="user@example.com" v-model="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" class="form-control" v-model="password" required>
                </div>
                <button type="submit" class="btn btn-success btn-default">Sign in</button>
            </form>
    </div>
</template>

<script>
  export default {
    data(){
      return {
        email: null,
        password: null,
        error: false,
        errors: {},
      }
    },    methods: {
      login(){
        var app = this
        this.$auth.login({
           params: {
              email: app.email,
              password: app.password
            },
          rememberMe: true,
          redirect: '/',
          fetchUser: true,
        })
        .then(
          (res) => {
          },
          (res) => {
            app.error = true;
            app.errors = res.response.data.errors;
          }
        );

      },
    }
  }
</script>
