<template>
  <div id="usersComponent" class="container">
    <label class="h4">filters</label>
    <div class="row position-relative">
      <div class="col-8 position-absolute left-0 right-0 m-auto">
        <multiselect
          v-model="activeRoles"
          :options="filters"
          :multiple="true"
          :close-on-select="false"
          :clear-on-select="false"
          :preserve-search="true"
          placeholder="Pick some"
          :custom-label="TitleAndId"
          label="name"
          track-by="name"
          :preselect-first="false"
        >
          <template slot="selection" slot-scope="{ values, search, isOpen }">
            <span
              class="multiselect__single"
              v-if="values.length &amp;&amp; !isOpen"
              >{{ values.length }} options selected</span
            >
          </template>
        </multiselect>
      </div>
    </div>
    <label class="h4">users</label>
    <div class="row pr-5 pl-5">
      <div class="list-group col-6 overflow-auto">
        <a
          class="list-group-item list-group-item-action"
          v-for="user in filterUsers(users)"
          v-bind:key="user.id"
          @click="selectedUser = Object.assign({},user)"
        >
          id:{{ user.id }}
          <button
            class="btn btn-sm btn-danger btn-delete"
            @click="deletUser(user.id)"
          >
            x
          </button>
          <br />
          name:{{ user.name }}
          <br />
          email:{{ user.email }}
        </a>
      </div>
      <div class="col-6">
        <label class="h6">Name</label>
        <input
          type="text"
          class="form-control"
          v-model="selectedUser.name"
          @blur="updateUser(selectedUser)"
        />
        <transition name="fade">
          <div class="alert alert-danger" v-if="error && errors.name">
            {{ errors.name[0] }}
          </div>
        </transition>
        <label class="h6">Email</label>
        <input
          type="text"
          class="form-control mt-2"
          v-model="selectedUser.email"
          @blur="updateUser(selectedUser)"
        />
        <transition name="fade">
          <div class="alert alert-danger" v-if="error && errors.email">
            {{ errors.email[0] }}
          </div>
        </transition>
        <transition name="fade">
          <div class="alert alert-success" v-if="success">
            <p>Update completed.</p>
          </div>
        </transition>
      </div>
    </div>
  </div>
</template>
'name',
        'email',
<script>
/**
 * Catalog component
 */
import Multiselect from "vue-multiselect";
export default {
  name: "Users",
  components: {
    Multiselect,
  },
  /**
   * Users and filters data
   * @vue-data {Array} activeRoles - Currently active filters
   * @vue-data {Array} users - List of all users
   * @vue-data {Array} filters - List of all filters
   * @vue-data {Array} selectedUser - Currently selected user
   * @vue-data {Boolean} success - User updade status
   * @vue-data {Boolean} error - User updade error
   * @vue-data {Array} errors - User updade error list
   * @vue-data {setTimeout} timer - User updade fade timer
   */
  data() {
    return {
      activeRoles: [],
      users: [],
      filters: [],
      selectedUser: [],
      success: false,
      error: false,
      errors: [],
      timer: null,
    };
  },
  methods: {
    /**
     * Get users from API
     */
    async getUsers() {
      const response = await axios.get("users");
      this.users = response.data;
      console.log(this.users);
    },
    /**
     * Get filters from API
     */
    async getRoles() {
      const response = await axios.get("roles");
      this.filters = response.data;
    },
    /**
     * Delete user using API
     * @param {int} id
     */
    async deletUser(id) {
      if (confirm("Do you really want to delete?")) {
        await axios.delete("users/" + id);
        this.getUsers();
      }
    },
    /**
     * Update user using API
     * @param {array} user
     */
    async updateUser(user) {
      if (user.length !== 0) {
        axios.put("users/" + user.id, user).then(
          (res) => {
            var index = this.users.findIndex(x => x.id === user.id);
            this.users[index] = user;
            clearTimeout(this.timer);
            this.success = true;
            this.timer = setTimeout(() => {
              this.success = false;
            }, 2000);
          },
          (res) => {
            clearTimeout(this.timer);
            this.error = true;
            this.errors = res.response.data.errors;
            this.timer = setTimeout(() => {
              this.error = false;
            }, 2000);
          }
        );
      }
    },
    /**
     * Set string format for <multiselect ... > ... </multiselect> items
     * @param {String} title
     * @param {String} id
     * @returns {String}
     */
    TitleAndId({ name, id }) {
      return `${name} — [id:${id}]`;
    },
    /**
     * Filter all listed users by active filters
     * @param {Array} users
     * @returns {Array}
     */
    filterUsers(users) {
      return users.filter((user) => {
        if (this.activeRoles.length === 0) return true;
        let result = false;
        $.each(this.activeRoles, (key, value) => {
          if (user.roles.id == value.id) {
            result = true;
            return true;
          }
        });
        return result;
      });
    },
  },
  /**
   * When mounted get all users and filters
   */
  mounted() {
    this.getUsers();
    this.getRoles();
  },
};
</script>
